@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,500;0,900;1,100;1,300;1,400;1,500;1,500;1,900&display=swap');

html,body {
  width: 100%;  
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}

*:before, 
*:after {
padding: 0;
margin: 0;
box-sizing: border-box;
}

a{
  text-decoration: none;
}

a img {
  border: none;
}

  
button,
  a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
}